---
---

body {
  margin-bottom: 25px;
}

.product-card {

  .product-name {
    height: 3em;
  }

  .product-price {
    font-size: 1.3em;
    font-weight: bold;
  }

  .product-rating {
    font-size: 1.3em;
    font-weight: bold;
    color: #e78f08;
    cursor: pointer;

    > *:focus {
      outline: 0;
    }
  }

  .add-to-cart {
    margin: auto;
    max-width: 16rem;
    padding-top: 10px;
  }
}

.product-search {
  .reset {
    position: absolute;
    top: -2px;
    right: 2.2rem;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
  }
}

.product-filter {
  .form-group {
    margin-bottom: 0;
  }
}

.cart {
  h3 {
    margin-top: 0;
  }

  .cart-icon {
    position: fixed;
    right: -5px;
    top: 50px;

    svg {
      fill: white;
      width: 35px;
      height: 35px;
    }
  }
}

.shipping-modal {
  tr {
    cursor: pointer;
  }
}